#screen {
  border: 2px red solid;
  min-height: 50%;
  max-height: 70%;
  overflow-y: scroll;
  padding: 2rem;
  margin-top: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 100%;
}

main > div {
  border: 1px solid black;
  padding:.3rem;
  border-radius: .1rem;
}